### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
venv/
env.bak/
venv.bak/

# PyCharm
.idea/

# VSCode
.vscode/

*.log
*.db
.coverage

docs/allure-results/
sso_postgres_data/
